df-messenger {
    --df-messenger-bot-message: #69CFFF;
    --df-messenger-button-titlebar-color: #95DDFB;
    --df-messenger-button-titlebar-font-color: #346880;
    --df-messenger-chat-background-color: #D9F1FB;
    --df-messenger-font-color: black;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #FFFFFF;
    --df-messenger-input-box-color: #D9F1FB;
    --df-messenger-send-icon: black;
    --df-messenger-input-placeholder-font-color: #346880
}